body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
}
div {
  text-align: center;
}
img {
  width="500" height="600"
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-content: space-between;
}
